.contact__container {
  height: 86vh;
  max-width: 800px;
  margin: 0 auto;
  padding-top: 40px;

  .title {
    h2 {
      text-align: center;
      font-weight: 400;
      font-size: 4rem;
      margin-bottom: 20px;

      span {
        color: var(--main-pink);
      }
    }
  }

  .sectie-1 {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    justify-content: center;
    width: 100%;
    justify-content: center;
    align-items: center;

    h3 {
      font-weight: 400;
      font-size: 2.7rem;
      margin-bottom: 10px;
    }

    p {
      font-size: 2rem;
    }

    .input {
      display: flex;
      width: 400px;

      p {
        margin-right: 10px;
      }
    }

    @media (max-width: 850px) {
      display: block;
    }
  }

  .sectie-2 {
    .header {
      font-size: 1.8rem;
      font-weight: 400;
      margin-bottom: 20px;
    }

    form {
      display: flex;
      flex-direction: column;
      .input {
        display: flex;
        justify-content: space-between;

        .text {
          font-size: 2rem;
          margin-bottom: 20px;
        }

        input {
          font-size: 2rem;
          padding: 5px;
          border: 1px solid #cccccc;

          &:focus {
            outline: 1px solid rgb(139, 139, 139);
          }
        }
      }

      button {
        align-self: flex-end;
        color: white;
        background-color: var(--main-pink);
        font-size: 2rem;
        padding: 10px 20px;
        height: 50px;
        width: 180px;
        border: 1px solid var(--main-pink);
        cursor: pointer;
        transition: all 0.2s;

        &:hover {
          color: var(--main-pink);
          background-color: white;
        }
      }
    }
  }

  @media (max-width: 850px) {
    max-width: none;
    padding: 40px 50px;
    margin: 0;
  }

  @media (max-width: 600px) {
    max-width: none;
    padding: 40px 10px;
    margin: 0;
  }
}
